services:
  dbi-cp-test:
    image: dbi-cp-test
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: dbi_cp_test
    volumes:
      - ./:/app
    tmpfs:
      - /volumes
    depends_on:
      mysql-test:
        condition: service_healthy
      postgresql-test:
        condition: service_healthy

  mysql-test:
    extends:
      file: docker-compose.yml
      service: mysql-test

  postgresql-test:
    extends:
      file: docker-compose.yml
      service: postgresql-test
